<!DOCTYPE html>
<html>
  <head>
    <title>Menu</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <p>Welcome, Admin!</p>
    <h1>Home</h1>
    <section id="addMenuItem">
      <h1>Add Menu Item</h1>

      <form action="/admin/create" method="post">
        <ul>
          <li>
            <label for="title">title</label>
            <input id="title" type="text" name="title" />
          </li>
          <!-- change to image upload instead of url -->
          <li>
            <label for="img">image url</label>
            <input id="img" type="url" name="img" />
          </li>
          <li>
            <label for="diet">dietary restrictions</label>
            <ul>
              <li>
                <label for="diet-V">vegan</label>
                <input id="diet-V" type="checkbox" name="diet" value="V" />
              </li>
              <li>
                <label for="diet-VG">vegetarian</label>
                <input id="diet-VG" type="checkbox" name="diet" value="VG" />
              </li>
              <li>
                <label for="diet-GF">gluten-free</label>
                <input id="diet-GF" type="checkbox" name="diet" value="GF" />
              </li>
              <li>
                <label for="diet-DF">dairy-free</label>
                <input id="diet-DF" type="checkbox" name="diet" value="DF" />
              </li>
              <li>
                <label for="diet-NF">nut-free</label>
                <input id="diet-NF" type="checkbox" name="diet" value="NF" />
              </li>
            </ul>
          </li>
          <li>
            <input type="submit" value="submit" />
          </li>
        </ul>
      </form>
    </section>
    <section id="addMonthlyItem"></section>
  </body>
</html>
