<!DOCTYPE html>
<html>
  <head>
    <title>Menu</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Menu</h1>
    <!-- display title, image, diet -->
    <h2>mealTitle</h2>
    <img src="mealUrl" alt="a picture of yummy food" />
    <p>mealDiet</p>
  </body>
</html>
