<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-logo">School Cafeteria Menu</a>
    <div class="navbar-menu">
      <a href="/" class="navbar-link">Today's Meal</a>
      <a href="/menu" class="navbar-link">Monthly Menu</a>
      <a href="/login" class="navbar-link">Admin</a>
    </div>
  </div>
</nav>
