<!DOCTYPE html>
<html>
  <head>
    <title>Daily Menu</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Todays Dish</h1>
    <!-- display title, image, diet -->
    <h2><%=meals.Title%></h2>
    <img src="<%=meals.Image%>" alt="a picture of yummy food" />
    <p><%=meals.Diet%></p>
  </body>
</html>
