body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

form {
  margin-bottom: 10px;
}

button {
  margin-left: 5px;
}

ul {
  list-style-type: none;
}

img{
  max-width: 20%;
  aspect-ratio: 1;
}

